@model IEnumerable<LMS.Models.Document>
<a name="documents"></a>
@{
    bool isAdministrator = (TempData["IsAdministrator"] != null ? true : false);
    bool isAssignment = (TempData["Assignment"] != null ? true : false);
}
@if (isAdministrator || TempData["DocumentParent"] == LMS.Constants.LMSConstants.Group)
{
    <p>
        @Html.ActionLink("Ladda upp dokument", "Upload", "Documents", new RouteValueDictionary(new { type = TempData["DocumentParent"], id = TempData["ParentId"] }), null)
    </p>
}
@if (isAssignment && !isAdministrator)
{
    <p>
        @Html.ActionLink("Ladda upp dokument", "Upload", "Documents", new RouteValueDictionary(new { type = LMS.Constants.LMSConstants.Activity, id = TempData["ParentId"] }), null)
    </p>
}


<table class="table">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
        <th class="col-md-2">
            Dokumentägare
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th class="col-md-3"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @if (TempData["DocumentParent"] == null) { TempData["DocumentParent"] = "Document"; }
                @Html.ActionLink(item.Name, "Download", "Documents",
                                new RouteValueDictionary(new { type = TempData["DocumentParent"], id = item.Id }),
                                new Dictionary<string, object> { { "title", "Ladda ned fil" } })
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-1">
                @if (item.Feedback != null)
                {
                    <span>Finns</span>
                }
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td class="col-md-3">
                @if (isAdministrator || item.ApplicationUserId == (string)TempData.Peek("UserId"))
                {
                    if (isAdministrator || !isAssignment)
                    {
                        @Html.ActionLink("Redigera", "Edit", "Documents", new RouteValueDictionary(new { type = TempData["DocumentParent"], id = item.Id }), null) <span>|</span>
                        @Html.ActionLink("Radera", "Delete", "Documents", new RouteValueDictionary(new { type = TempData["DocumentParent"], id = item.Id }), null) <span>|</span>
                    }
                    @Html.ActionLink("Detaljer", "Details", "Documents", new RouteValueDictionary(new { type = TempData["DocumentParent"], id = item.Id }), null)
                }
            </td>
        </tr>
    }

</table>
