@using Microsoft.AspNet.Identity
@using System.Linq;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    HtmlString firstName = Html.Action("FirstName", "Shared");
                    @Html.ActionLink(firstName.ToString(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Hantera konto" })
                    
                }
            </li>
            <li>
                @{
                    HtmlString groupName = Html.Action("GroupName", "Shared");
                    if (TempData["IsAdministrator"] == null)
                    {
                        @Html.ActionLink("@ " + groupName.ToString(), "Details", "Groups", routeValues: new { id = TempData["GroupId"] }, htmlAttributes: new { title = "Visa detaljer för grupp" });
                    }
                }
                @*@var n = @Html.RenderAction("GroupName", "Shared")*@
                @*<a name="#">@@ @{Html.RenderAction("GroupName", "Shared");}</a>*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" title="Logga ut från LMS">Logga ut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
