@*
    *** IMPORTANT ***
    Make sure that this page does not get a layout in Views\Shared\_ViewStart.cshtml
*@
@using LMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "LMS";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <div class="row text-center">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="text-center">
                            <h4>Inloggning</h4>
                            <hr />
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                    }
                </section>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Niklas, Robert, Oscar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
