@model LMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Type):  @Html.DisplayFor(model => model.Name)</h2>
<h4>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate) <small>@Html.Hyperlink("#documents", "Dokument för aktiviteten")</small></h4>

<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @*@Html.Partial("_ActivitiesInCourse")*@


</div>

<p>
    @if (ViewBag.IsAdministrator != null)
    {
        @Html.ActionLink("Redigera", "Edit", new { id = Model.Id })
    }

</p>

<hr />
<h3>Dokument för aktiviteten</h3>
@Html.Partial("_DocumentPartial", (List<LMS.Models.Document>)ViewBag.DocumentModel)

<p>
    @if (Request.UrlReferrer.LocalPath == "/Home/Student")
    {
        @Html.ActionLink("Tillbaka", "Student", "Home")
    }
    else
    {
        @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.CourseId }, null)
    }
</p>
