@model LMS.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Radera Grupp</h2>

<h3>Är du säker på att du vill radera det här?</h3>
<div>
    @*<h4>Group</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUserId)
            </dd>*@

    </dl>

    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" />
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
        *@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bekräfta" class="btn btn-default" />
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
