@model LMS.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</h4>

<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @Html.Partial("_CoursesInGroup")
    
    
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Tillbaka", "Index")
</p>
