@model LMS.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Grupp: @Html.DisplayFor(model => model.Name)</h2>
<h4>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate) <small>@Html.Hyperlink("#documents", "Dokument för gruppen")</small></h4>

<hr />

<div class="well">

    <h3>@Html.DisplayNameFor(model => model.Description)</h3>

    <p>@Html.DisplayFor(model => model.Description)</p>
</div>
<div>
    <div class="row no-margins">
        @if (ViewBag.IsAdministrator == true)
        {
            <div class="col-md-7 well">
                @Html.Partial("_CoursesInGroup")
            </div>
        }
        else
        {
            <div class="col-md-12 well">
                @Html.Partial("_CoursesInGroup")
            </div>
        }
        @if (ViewBag.IsAdministrator == true)
        {
            <div class="col-md-4 col-lg-offset-1 well">
                @Html.Partial("_StudentsInGroup")
            </div>
        }
    </div>

</div>


<hr />
<h3>Dokument för gruppen</h3>
@Html.Partial("_DocumentPartial", (List<LMS.Models.Document>)ViewBag.DocumentModel)

@if (ViewBag.IsAdministrator == true)
{
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Tillbaka", "Index")
    </p>
}