@model LMS.Models.Course
@if (ViewBag.IsAdministrator == true)
{
    <p>
        @Html.ActionLink("Skapa aktivitet", "Create", "Activities", new { CourseId = Model.Id }, null)
    </p>
}
<table class="table">
    <tr>
        <th>Aktivitetsnamn</th>
        <th>Typ</th>
        <th>Beskrivning</th>
        <th>Startdatum</th>
        <th>Slutdatum</th>
    </tr>
    @foreach (var activity in Model.Activities)
    {
        <tr>
            <td>@Html.ActionLink(activity.Name, "Details", "Activities", new { id = activity.Id }, null)</td>
            <td>@Html.DisplayFor(modelItem => activity.Type)</td>
            <td>@Html.DisplayFor(modelItem => activity.Description)</td>
            <td>@Html.DisplayFor(modelItem => activity.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => activity.EndDate)</td>

            @if (ViewBag.IsAdministrator == true)
            {
                <td>
                    @Html.ActionLink("Redigera", "Edit", "Activities", new { id = activity.Id }, null) |
                    @Html.ActionLink("Radera", "Delete", "Activities", new { id = activity.Id }, null)
                </td>
            }
        </tr>
    }
</table>
