@model LMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Kurs: @Html.DisplayFor(model => model.Name)</h2>
<h4>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</h4>

<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @Html.Partial("_ActivitiesInCourse")


</div>

<hr />
<h3>Dokument för kursen</h3>
@Html.Partial("_DocumentPartial", (List<LMS.Models.Document>)ViewBag.DocumentModel)

<p>
    @*@Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Tillbaka", "Details", "Groups", new { id = Model.GroupId }, null)
</p>
