@model LMS.Models.Document

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <big>@Html.DisplayFor(model => model.Name)</big>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Dokumentägare
            @*@Html.DisplayNameFor(model => model.ApplicationUser.UserName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
            @*@Html.DisplayFor(model => model.ApplicationUser.UserName)*@
        </dd>
        @if (Model.Activity != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Activity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activity.Name)
            </dd>
        }
        else if (Model.Course != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Course)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
        }
        else if (Model.Group != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Group)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Group.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @if (Model.Description != null)
            {
                @Html.DisplayFor(model => model.Description)
            }
            else
            {
                <span>Ingen beskrivning</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @if (Model.Feedback != null)
            {
                <span>Finns</span>
            }
            @*@Html.DisplayFor(model => model.Feedback)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
